@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Serif', sans-serif;
}

body {
    background: #e5f3f3;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 0 0;
    background: #e5f4f3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.15;
    pointer-events: none;
}

.banner .textBox {
    position: relative;
    max-width: 600px;
    z-index: 2;
}

.banner .textBox h2 {
    color: #111;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.banner .textBox h2 span {
    color: #111;
    font-size: 1.3em;
    font-weight: 700;
}

.banner .textBox p {
    color: #111;
    font-size: 1.2em;
}

.banner .textBox a {
    position: relative;
    display: inline-block;
    background: #fff;
    color: #111;
    padding: 15px 25px;
    text-decoration: none;
    border: #111 solid;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 5%;
}

.banner .textBox a:hover {
    background: #eb5a8a;
}

.banner .imgBox {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    z-index: 2;
}

.banner .imgBox img {
    position: absolute;
    bottom: 0;
    height: 90%;
    z-index: 10000;
}

.banner-container {
    position: relative;
}

.dimension {
    width: 550px;
    height: 100%;
    border-radius: 10px;
}

.container {
    text-align: center;
}

.container .row {
    margin-top: 10px;
    background-color: #fff;
}

.container .row .col h3 {
    color: #607d8b;
    font-weight: 500;
    font-size: 1.8em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #7ae1d5;
    display: inline-block;
    letter-spacing: 1px;
    margin-top: 20px;
}

.container .row .col h4 {
    color: #607d8b;
    font-weight: 500px;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;
    display: inline-block;
    letter-spacing: 1px;
}

.container .row .col h5 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: relative;
    color: #fff;
    font-weight: 300px;
    letter-spacing: 1px;
    background-color: #7ae1d5;
    padding: 10px;
}

.container .row .col p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
    font-weight: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container .row .col a {
    display: inline-block;
    padding: 10px 10px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 15px;
    margin-top: 10px;
}

.container .row .col a {
    background: #7ae1d5;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    max-width: 150px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

@media (max-width: 767px) {

    .container .row .col h3 {
        font-size: 1.5em;
    }

}
