@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Serif', sans-serif;
}

body {
    background: #e5f4f3;
}

.dimension {
    width: 550px;
    height: 100%;
    border-radius: 10px;
}

.container {
    text-align: center;
}

.container .row {
    margin-top: 10px;
    background-color: #fff;
}

.container .row .col h3 {
    color: #607d8b;
    font-weight: 500;
    font-size: 1.8em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #7ae1d5;
    display: inline-block;
    letter-spacing: 1px;
    margin-top: 20px;
}

.container .row .col h4 {
    color: #607d8b;
    font-weight: 500px;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;
    display: inline-block;
    letter-spacing: 1px;
}

.container .row .col h5 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: relative;
    color: #fff;
    font-weight: 300px;
    letter-spacing: 1px;
    background-color: #7ae1d5;
    padding: 10px;
}

.container .row .col p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
    font-weight: 200px;
}

.container .row .col a {
    display: inline-block;
    padding: 10px 10px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 15px;
    max-width: 100%; /* Ensure the link container doesn't overflow */
    word-wrap: break-word; /* Allow the email to wrap onto a new line if necessary */
}

.container .row .col a {
    background: #7ae1d5;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

@media (max-width: 767px) {

    .container .row .col h3 {
        font-size: 1.5em;
    }

    .container .row .col a {
        font-size: 14px; /* Reduce the font size for smaller screens */
        padding: 8px 8px; /* Adjust padding for smaller screens */
    }

    .dimension {
        width: 100%; /* Make images responsive */
    }
}

@media (max-width: 576px) {

    .container .row .col a {
        font-size: 12px; /* Further reduce the font size for very small screens */
        padding: 6px 6px; /* Adjust padding for very small screens */
    }

    .dimension {
        width: 100%; /* Make images responsive */
    }
}