@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Serif', sans-serif;
}

body {
    background: #fff;
}

section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    padding: 0 100px;
}

section .contentBx {
    position: relative;
    max-width: 600px;
    z-index: 1000;
}

section .contentBx h2 {
    font-size: 60px;
    color: #000;
    text-transform: uppercase;
    margin-top: 20px;
}

section .contentBx p {
    font-size: 18px;
    color: #000;
}

section .contentBx .countdown {
    display: flex;
    margin: 20px 0;
}

section .contentBx .countdown .time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin-right: 20px;
    font-size: 48px;
    min-width: 110px;
    font-weight: 700;
    padding: 10px 5px 15px;
    border-radius: 4px;
    color: #7ae1d5;
}

section .contentBx .countdown .time span {
    margin-top: -10px;
    font-size: 20px;
    font-weight: 600;
    color: #312747;
}

.vidBxSm,
.vidBxLg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.vidBxSm video,
.vidBxLg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vidBxSm {
    display: block;
}

.vidBxLg {
    display: none;
}

@media (min-width: 768px) {
    .vidBxSm {
        display: none;
    }

    .vidBxLg {
        display: block;
    }
}

.btn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
}

section .imgBx a {

    position: relative;
    margin-top: 10px;
    display: inherit;
    text-align: center;
    color: #000;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    border-radius: 30px;
}

section .imgBx img {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
}

section .sci {
    position: absolute;
    bottom: 40px;
    left: 50px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .sci li {
    list-style: none;
}

section .sci li a {
    display: block;
    margin-right: 10px;
    transform: scale(0.8)
}

.newsletter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 60px;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 0 0 100vh rgba(49, 39, 71, 0.95);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.newsletter.active {
    visibility: visible;
    opacity: 1;
}

.newsletter h2 {
    font-size: 48px;
    color: #312747;
}

.newsletter p {
    font-size: 20px;
    color: #312747;
}

.newsletter .inputBox {
    margin-top: 20px;
}

.newsletter .inputBox input {
    padding: 10px;
    outline: none;
    width: 300px;
    font-size: 18px;
    border: 1px solid #999;
}

.newsletter .inputBox input[type="submit"] {
    padding: 10px;
    outline: none;
    width: 140px;
    color: #000;
    background: #7ae1d5;
    border: 1px solid #fff;
    letter-spacing: 2px;
    box-sizing: border-box;
    cursor: pointer;
}

.newsletter .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

@media (max-width: 991px) {
    section {
        flex-direction: column-reverse;
    }

    section {
        flex-direction: column-reverse;
        padding: 50px 100px 50px;
        height: auto;
    }

    .vidBxSm video {
        display: inline-block;
        position: relative;
        max-width: 100%;
        max-height: 100%;
    }

    .vidBxLg video {
        display: none
    }

    .btn {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        background-color: #fff;
        color: #000;
        text-decoration: none;
        border-radius: 10px;
    }

    section .imgBx img {
        margin-top: 0;
    }

    section .contentBx {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    section .contentBx h2 {
        font-size: 40px;
    }

    section .contentBx p {
        font-size: 16px;
    }

    section .contentBx .countdown {
        justify-content: center;
    }

    section .contentBx .countdown .time {
        font-size: 30px;
        min-width: 70px;
        margin-right: 5px;
    }

    section .contentBx .countdown .time span {
        font-size: 14px;
    }

    section .contentBx a {
        position: relative;
        margin-top: 10px;
        display: inline-block;
        background: #fff;
        color: #7ae1d5;
        font-size: 16px;
        letter-spacing: 2px;
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 40px;
        margin-bottom: 10px;
    }

    section .sci {
        left: 40px;
    }

    .newsletter {
        width: 90%;
        padding: 30px;
    }

    .newsletter .inputBox input {
        margin-top: 10px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    section {
        flex-direction: column-reverse;
        padding: 50px 50px 150px;
        display: flex;
        align-items: center;
    }

    section .imgBx {
        margin-top: 5px;
    }

    .vidBxSm video {
        display: inline-block;
        position: relative;
        max-width: 100%;
        max-height: 100%;
    }

    .vidBxLg video {
        display: none
    }

    .btn {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        background-color: #fff;
        color: #000;
        text-decoration: none;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 800;
    }

    section .imgBx img {
        margin-top: 0;
    }

    section .contentBx {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    section .contentBx h2 {
        font-size: 40px;
    }

    section .contentBx p {
        font-size: 16px;
    }

    section .contentBx .countdown {
        justify-content: center;
    }

    section .contentBx .countdown .time {
        font-size: 30px;
        min-width: 70px;
        margin-right: 5px;
    }

    section .contentBx .countdown .time span {
        font-size: 14px;
    }

    section .contentBx a {
        position: relative;
        margin-top: 10px;
        display: inline-block;
        background: #7ae1d5;
        color: #000;
        font-size: 16px;
        letter-spacing: 2px;
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 40px;
        margin-bottom: 10px;
    }

    section .sci {
        left: 40px;
    }

    .newsletter {
        width: 90%;
        padding: 30px;
    }

    .newsletter .inputBox input {
        margin-top: 10px;
        width: 100%;
    }
}